@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&family=League+Spartan:wght@400;500;600;700&family=Sacramento&display=swap');

$primary: #002ece;
$primary-hover: #005EFF;
$secondary: #0e1946;
$tertiary: #E0C800;
$white: #FFFFFF;
$max-width: 900px;

body {
  background-color: #F6F6F6;
  font-size: 1.25rem;
  font-family: "League Spartan", sans-serif;
  line-height: 1.65rem;
  margin: 0;
}

a {
  color: $primary;

  &:visited {
    color: $primary-hover;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $secondary;
}

p {
  // font-size: 1.15rem;
}

a {
  color: $primary;
  &:visited {
    color: $primary;
  }
}

.columns {
  display: flex;
  flex-wrap: wrap-reverse;

  .column {
    flex: 1;
    min-width: 250px;
    padding: 1rem;

    &.side {
      flex: 1;
      max-width: 250px;
    }
  }
}

.logo {
  font-family: "Sacramento", sans-serif;
  font-size: 3rem;
}

.main {
  max-width: 900px;
  margin: auto;

  .photo {
    width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .columns {
    .column {
      &.side {
        max-width: 600px;
      }
    }
  }
}