@import "../pages/styles.scss";

$height: 70px;

.navbar {
  height: $height;
  background-color: $tertiary;
  color: $white;

  a {
    color: $white;
  }

  .container {
    max-width: $max-width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height;

    .brand {
      font-size: 2.25rem;
      font-weight: 700;
      font-family: "Ms Madi";
      color: $white;
      // text-transform: uppercase;
      // padding: 20px;
      &:hover {
        text-decoration:line-through;
      }
    }

    .menu {
      display: flex;
      list-style: none;
      height: $height;

      a {
        padding: 10px;
        align-items: center;
        display: flex;
        cursor: pointer;
        color: $white;
        text-decoration: none;

        &:hover {
          color: $white;
          background-color: $primary-hover;
        }
      }
    }
  }
}