@import "../pages/styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
$height: 70px;

.navbar {
  height: $height;
  background-color: $tertiary;
  color: $secondary;
  box-shadow: 1px 2px 6px 4px #DBDBDB;

  a {
    color: $secondary;
    text-decoration: none;
  }

  .container {
    max-width: $max-width;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $height;

    .brand {
      align-items: center;
      color: $secondary;
      display: flex;
      font-size: 2rem;
      font-weight: 700;
      justify-content: center;
      text-decoration: none;
    }

    .menu {
      display: flex;
      list-style: none;
      height: $height;

      a {
        padding: 10px;
        align-items: center;
        display: flex;
        cursor: pointer;
        color: $secondary;
        text-decoration: none;

        &:hover {
          color: $white;
          background-color: $secondary;
        }
      }
    }
  }
}