@import "../pages/styles.scss";
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
$height: 70px;

.navbar {
  height: $height;
  background-color: $primary;
  color: $white;

  .brand-wrapper {
    height: 70px;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  .container {
    align-items: center;
    display: flex;
    height: $height;
    justify-content: space-between;
    margin: auto;
    max-width: $max-width;
    width: 100%;
    padding: 0px 1rem;

    .brand {
      color: $white;
      font-size: 2rem;
      font-weight: 700;
      justify-content: center;
      text-decoration: none;
    }

    .menu {
      display: flex;
      list-style: none;
      height: $height;

      a {
        padding: 10px;
        align-items: center;
        display: flex;
        cursor: pointer;
        color: $white;
        text-decoration: none;

        &:hover {
          color: $white;
          background-color: $secondary;
        }
      }
    }
  }
}